# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!_3rd_party/**/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!_3rd_party/**/*.lib

# Executables
*.exe
*.out
*.app
!_3rd_party/**/*.exe

# Visual studio auxiliary files and folders
**/.vs
**/x64
**/Debug
**/Release
*.VC.db
*.VC.VC.opendb
*.sdf
*.suo

# Auxiliary files
*.pdf

# Merge originals 
*.orig

# MATLAB data files
*.mat
!demos/**/*.mat

# Compiled CUDA files
*.ptx

# Ignore log files
*log.html

